// colors
$global-background: #141414;
$elements-background: #222222;
$element-hover-background: rgba(255, 255, 255, 0.08);

$text-white: #e1e3e6;
$text-gray-light: rgb(147, 147, 147);
$text-gray-dark: rgb(101, 101, 101);
$text-blue: rgb(113, 170, 235);

$header-icon: rgb(147, 147, 147);
$main-icon: rgb(130, 130, 130);
$main-hover-icon: rgba(255, 255, 255, 0.04);

$border: #424242;